/* .cart {
    margin-top: 40px;
    margin-left: 5%;
}

.cart-table {
    margin-top: 40px;
    margin-left: 5%;
} */

/* .checkout-form-card {
    margin-right: 5%;
} */

.checkout-form-button {
    margin-bottom: 20px;
}

.cart-footer {
    text-align: right;
}