.cart {
    margin-top: 40px;
}

.cart-table {
    margin-left: 5%;
}

.checkout-form-card {
    margin-right: 5%;
}

.checkout-form-botton {
    margin-bottom: 20px;
}

.cart-footer {
    text-align: right;
}