.product-list {
    min-width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}

.product-search {
    max-width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}